#down {
  width: 100%;
  background: #f0f0f0;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  box-sizing: border-box;
  border-top: 1px solid #ccc;
}

#down a {
  color: #777;
  text-decoration: none;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
}

#down a:hover {
  color: #555;
}

#down-left, #down-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

#down-right img {
  height: 24px;
  width: 24px;
  filter: grayscale(100%);
  opacity: 0.7;
}

#down-right img:hover {
  opacity: 1;
}
